*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
main{
    color: #FFFFFF;
}
nav{
    color: #FFFFFF;   
}
div{
    height:25%;
    width: 30%;
    background-color: blueviolet;
}
.introduction{
    height:25%;
    width: 100%;   
    background-color: blueviolet;
    display:flex;
}
.textIntro{
    display:flex;
    flex-direction: column;
}